[SddmGreeterTheme]
Name=Debian Elarun
Name[ca]=Debian Elarun
Name[da]=Debian Elarun
Name[de]=Debian Elarun
Name[el]=Debian Elarun
Name[es]=Debian Elarun
Name[et]=Debian Elarun
Name[fi]=Debian Elarun
Name[ga]=Debian Elarun
Name[gl]=Debian Elarun
Name[hu]=Debian Elarun
Name[ia]=Debian Elarun
Name[kk]=Debian Еларун
Name[ko]=Debian Elarun
Name[mr]=Debian एलारन
Name[nb]=Debian Elarun
Name[nl]=Debian Elarun
Name[pl]=Debian Elarun
Name[pt]=Debian Elarun
Name[pt_BR]=Debian Elarun
Name[ro]=Debian Elarun
Name[ru]=Debian Эларан
Name[sk]=Debian Elarun
Name[sl]=Debian Elarun
Name[sr]=Debian Еларун
Name[sr@ijekavian]=Еларун
Name[sr@ijekavianlatin]=Debian Elarun
Name[sr@latin]=Debian Elarun
Name[sv]=Debian Elarun
Name[uk]=Debian Еларан
Name[x-test]=xxDebian Elarunxx
Name[zh_CN]=Debian Elarun
Name[zh_TW]=Debian Elarun

Description=Elarun KDM theme ported to SDDM and adapted to use the active Debian theme. \nThe original theme is based on work of Roman Shtylman & Nuno Pinheiro
Type=sddm-theme
Author=Reza Fatahilah Shah
Copyright=(c) 2013, Reza Fatahilah Shah
Screenshot=elarun.jpg
License=GPL
Version=0.1
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=debian-elarun
Theme-API=${COMPONENTS_VERSION}
Website=https://github.com/sddm/sddm

